/**
 * ボディ全体の設定
 */
body {
    background-image: url("/static/img/background_image.png");
    margin: 0%;
    padding: 0%;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * ゲームの表示画面全体の設定
 */
#game {
    padding: 0px;
    margin: auto;
    margin-top: 100px;
    border: 0px;
    left: calc((100% - 800px) / 2);
    top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**
 * 分割画面の設定
 */
.split{
    display: flex;
    width: 100%;
    font-family: 'ヒラギノ丸ゴ Pro W4';
    color: rgb(53, 52, 50);
}

/**
 * 分割画面の左側の設定
 */
.split-left {
    width: 280px;
    text-align: center;
    word-break: break-all;
    margin: 0%;
    left: 0%;
    overflow-y: scroll;
    height: 92vh;
    background: #fff;
}

/**
 * 分割画面の右側の設定
 */
.split-right {
    position: relative;
    width: calc(100% - 280px);
    right: 0px;
    overflow-y: scroll;
    height: 92vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.split-right h1 {
    text-align: center;
    font-size: 48px;
}

.split-right p {
    margin-left: 30%;
    margin-right: 30%;
}

.split-right img {
    display: block;
    margin: auto;
}

/**
 * タイトルロゴの設定
 */
#title:hover {
    opacity: .8;
}

/**
 * フッターの処理
 */
footer {
    background-color: #fff;
    bottom: 0%;
    position: absolute;
    z-index: 1;
    height: 8vh;
    width: 100vw;
}

footer h3 {
    text-align: center;
}

.button {
    display: inline-block;
    text-decoration: none;
    width: 60%;
    background-color: #f93;
    color: #fff;
    border-radius: 3px;
    margin: 50px 0px 10px 0px;
    padding: 20px 0px;
    font-size: 16px;
    border-bottom: 5px solid rgb(206, 200, 194);
}

.button:active {
    /*ボタンを押したとき*/
    margin-bottom: 15px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);/*下に動く*/
    border-bottom: none;
}
