<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link rel="icon" href="/static/favicon.ico">
    <title>フルーツ×たいぴんぐっ!</title>
</head>
<body>
    <div class=split>
        <a id="title" href="/" style="position: absolute; margin: 20px; z-index: 1;">
            <img src="/static/img/mini_title.png" alt="フルーツタイピングっ！">
        </a>
        <section class="split-left split-item">
            <br>
            <a class="button" href="/" style="margin-top: 150px;">ほーむ</a><br>
            <a class="button" href="/chara/">きゃらくたー</a>
            <h3>作者のTwitter</h3>
            <h3>使用させていただいた素材</h3>
            <p>音楽：魔王魂</p>
            <a href="https://maoudamashii.jokersounds.com/" title="フリー音楽素材/魔王魂" target="_blank">フリー音楽素材/魔王魂</a>
        </section>
        <section class="split-right split-item">
            <h1 style="margin-top: 100px;">キャラクター紹介</h1>
        </section>
        <footer>
            <h3><small>&copy; 2021 Kondo Hidemasa</small></h3>
        </footer>
    </div>
</body>
</html>