<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フルーツ×たいぴんぐっ！</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="/script/FruitTyping/LoadImages.js"></script>
    <script src="/script/FruitTyping/audioSetting.js"></script>
    <script src="/script/FruitTyping/button.js"></script>
    <script src="/script/FruitTyping/windowParents.js"></script>
    <script src="/script/FruitTyping/aikotoba.js"></script>
    <script src="/script/FruitTyping/battlePage.js"></script>
    <script src="/script/FruitTyping/characterChoose.js"></script>
    <script src="/script/FruitTyping/characterStatus.js"></script>
    <script src="/script/FruitTyping/characters.js"></script>
    <script src="/script/FruitTyping/database.js"></script>
    <script src="/script/FruitTyping/gameController.js"></script>
    <script src="/script/FruitTyping/hiraganaToAlphabet.js"></script>
    <script src="/script/FruitTyping/inputRomaji.js"></script>
    <script src="/script/FruitTyping/multiGamePage.js"></script>
    <script src="/script/FruitTyping/nickName.js"></script>
    <script src="/script/FruitTyping/setting.js"></script>
    <script src="/script/FruitTyping/singleWait.js"></script>
    <script src="/script/FruitTyping/singlePlay.js"></script>
    <script src="/script/FruitTyping/titlePage.js"></script>
</head>

<body onload="firstload();">
    <div class="split">
        <a id="title" href="/" style="position: absolute; margin: 20px; z-index: 1;">
            <img src="/static/img/mini_title.png" alt="フルーツタイピングっ！">
        </a>
        <section class="split-left split-item">
            <br>
            <a class="button" href="/" style="margin-top: 150px;">ほーむ</a><br>
            <a class="button" href="/chara/">きゃらくたー</a>
            <h3>作者のTwitter</h3>
            <h3>使用させていただいた素材</h3>
            <p>音楽：魔王魂</p>
            <a href="https://maoudamashii.jokersounds.com/" title="フリー音楽素材/魔王魂" target="_blank">フリー音楽素材/魔王魂</a>
        </section>
        <section class="split-right split-item">
            <div id="game" style="width: 800px; height: 550px; /**border: 3px solid #ff9933;*/">
                <canvas id="gameWindow" width="800" height="550"></canvas>
            </div>
            <h1 style="margin-top: 70px;">遊び方</h1>
        </section>
        <footer>
            <!-- <h3><small>&copy; 2021 Kondo Hidemasa</small></h3> -->
        </footer>
    </div>
</body>

<div>
    {% for i in item %}
        <script>
            itemSet("{{ i.id }}", "{{ i.kanji_data }}", "{{ i.hiragana_data }}");
        </script>
    {% endfor %}
</div>
</html>
