<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="/script/button.js"></script>
    <script src="/script/windowParents.js"></script>
    <script src="/script/aikotoba.js"></script>
    <script src="/script/battlePage.js"></script>
    <script src="/script/characterChoose.js"></script>
    <script src="/script/characterStatus.js"></script>
    <script src="/script/characters.js"></script>
    <script src="/script/database.js"></script>
    <script src="/script/gameController.js"></script>
    <script src="/script/hiraganaToAlphabet.js"></script>
    <script src="/script/inputRomaji.js"></script>
    <script src="/script/multiGamePage.js"></script>
    <script src="/script/nickName.js"></script>
    <script src="/script/setting.js"></script>
    <script src="/script/titlePage.js"></script>
    <script src="/script/typingGame.js"></script>
</head>

<body onload="firstload();">
    <h1>Typing Game</h1>
    <p>音楽：魔王魂</p>
    <a href="https://maoudamashii.jokersounds.com/" title="フリー音楽素材/魔王魂" target="_blank">フリー音楽素材/魔王魂</a>
    <div id="game" style="width: 800px; height: 550px;">
        <canvas id="gameWindow" width="800" height="550" style="border:1px solid #000"></canvas>
    </div>
</body>

<div>
    {% for i in item %}
        <script>
            itemSet("{{ i.id }}", "{{ i.kanji_data }}", "{{ i.hiragana_data }}");
        </script>
    {% endfor %}
</div>
</html>
