<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="/script/database.js"></script>
    <script src="/script/gameController.js"></script>
    <script src="/script/hiraganaToAlphabet.js"></script>
    <script src="/script/titlePage.js"></script>
    <script src="/script/typingGame.js"></script>
</head>

<body onload="firstload();">
    {% for i in item %}
        <script>
            itemSet("{{ i.id }}", "{{ i.kanji_data }}", "{{ i.hiragana_data }}");
        </script>
    {% endfor %}
    <h1>Typing Game</h1>
    <div id="game" style="width: 700px; height: 550px;">
        <canvas id="gameWindow" width="700" height="550"></canvas>
    </div>
</body>
</html>
